html, body, img, h1, p, ul, li, div, a {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  color: white;
}

body {
  background-image: url('images/Backdrop.jpg');
  background-attachment: fixed;
  background-size:auto;
  overflow-x: hidden;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 2em;
}

h2 {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5em;
}

p, a, li {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 1em;
  filter: drop-shadow(0px 0px 0px black);
  transition: .5s
}

a:hover {
  filter: drop-shadow(5px 5px 2px rgba(0,0,0,.5));
  transform: translateY(-2px);
  transition: .1s;
}

.splash {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  flex: 1;
  display: flex;
}

.title-left, .title-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.title-right {
  align-items: flex-start;
}

.container {
  flex: 4;
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes float {
  0% {transform: translateY(0px) rotate(5deg);}
  25% {transform: translateY(5px);}
  50% {transform: translateY(0px) rotate(-5deg);}
  75% {transform: translateY(-5px);}
  100% {transform: translateY(0px) rotate(5deg);}
}

.splash img {
  z-index: 20;
  margin-top: 5%;
  height: 80%;
  animation-name: float;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes shadow-float {
 0% {transform: scale(1); opacity: .3;}
 25% {transform: scale(1.1); opacity: .4;}
 75% {transform: scale(.9); opacity: .2;}
 100% {transform: scale(1); opacity: .3;}
}

#shadow {
  height: 1%;
  width: 40%;
  background-color: black;
  border-radius: 50%;
  opacity: .3;
  box-shadow: 0 0 25px 25px black;
  animation: shadow-float 5s linear infinite;
}

.splash a {
  font-size: 2em;
  z-index: 25;
  position: absolute;
  top: 50%;
  padding: 20px;
}

@keyframes about {
  0% {transform: rotate(25deg) translateX(-30vw);}
  50% {transform: rotate(20deg) translateX(-30vw);}
  100% {transform: rotate(25deg) translateX(-30vw);}
}

#about {
  top: 40%;
  animation: about 7s ease-in-out infinite;
}

@keyframes resume {
  0% {transform: rotate(-15deg) translateX(-30vw);}
  50% {transform: rotate(-10deg) translateX(-30vw);}
  100% {transform: rotate(-15deg) translateX(-30vw);}
}

#resume {
  top: 60%;
  animation: resume 6s ease-in-out infinite;
}

@keyframes video {
  0% {transform: rotate(15deg) translateX(30vw);}
  50% {transform: rotate(10deg) translateX(30vw);}
  100% {transform: rotate(15deg) translateX(30vw);}
}

#video {
  top: 60%;
  animation: video 7s ease-in-out infinite;
}

@keyframes web {
  0% {transform: rotate(-25deg) translateX(30vw);}
  50% {transform: rotate(-20deg) translateX(30vw);}
  100% {transform: rotate(-25deg) translateX(30vw);}
}

#web {
  top: 40%;
  animation: web 6s ease-in-out infinite;
}

.nav-bar {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes head-spin {
  0% {transform: rotate(0deg);}
  1% {transform: rotate(-5deg);}
  5% {transform: rotate(365deg);}
  6% {transform: rotate(360deg);}
  100% {transform: rotate(360deg);}
}

.nav-bar img {
  height: 50px;
  animation: head-spin 30s ease-in-out infinite;
}

.about {
  width: 75%;
  margin: auto;
  background-attachment: local;

}

.about ul {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about .bg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: url('images/CD.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  opacity: .5;
}

.resume {
  width: 75%;
  margin: auto;
}

.resume-header {
  display: flex;
  align-items: center;
}

.resume i {
  margin-right: 20px;
}

.resume-body {
  margin-top: 2em;
  display: flex;
}

.resume-left {
  flex: 1;
  height: 100%;
  margin-right: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume-left h1 {
  border-bottom: 1px solid white;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.resume-right {
  flex: 6;
  margin-bottom: 20px;
}

.resume svg {
  margin: 5px;
  height: 50px;
  filter: saturate(0) brightness(500%) grayscale(100%) drop-shadow(0px 0px 0px black);
  transition: .5s;
}

.resume svg:hover {
  margin: 0px;
  height: 60px;
  filter: saturate(1) brightness(100%) grayscale(0%) drop-shadow(5px 5px 2px rgba(0,0,0,.5));
  transition: .1s;
}

.resume-right p {
  margin-bottom: 5px;
}

.resume li {
  margin-top: 5px;
  list-style: disc;
}

.resume-right h1 {
  margin-top: 35px;
  width: 100%;
  border-bottom: 1px solid white;
}

.resume-right h1:first-of-type {
  margin-top: 0;
}

.project {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
}

.portfolio {
  width: 75%;
  margin: auto;
}

.portfolio-header {
  border-bottom: 1px solid white;
  align: center;
}

.portfolio-item {
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.portfolio-desc {
  flex: 1;
}

.portfolio-links i {
  margin-right: 20px;
}

.portfolio-ex {
  flex: 3;
}

.portfolio video {
  clip-path: inset(0 21%);
  width: 100%;
}

.portfolio-ex-video {
  flex: 3;
  display: flex;
  justify-content: flex-end;
}
